@media (max-width: 575px) {
	.header {
		background: #f6f6f6;
		&__container {
			justify-content: space-between;
		}
		&__nav {
			// display: none;
		}
		&__logo {
			margin: 0;
		}
	}
	.mobile-menu {
		display: flex;
		align-items: center;
		margin: 0 -15px;
		&__link {
			display: block;
			padding: 15px;
		}
	}
	.menu {
		width: 100%;
		&__list {
			position: fixed;
			top: 104px;
			left: 0;
			z-index: 99;
			flex-flow: column;
			align-items: center;
			height: calc(100vh - 104px);
			width: 100%;
			background: #f6f6f6;
			transform: translateX(100%);
			transition: all 0.3s ease-in-out;
		}
		&__item {
			color: $second-text-color;
			font-weight: 400;
			font-size: 30px;
			width: 100%;
			&:not(:last-child) {
				margin: 0;
			}
			&:first-child {
				margin: 60px 0 0 0;
			}
		}
		&__link {
			display: block;
			width: 100%;
			padding: 15px;
			width: 100%;
			text-align: center;
		}
	}
}
